header {
  background-color: rgb(80, 80, 80);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  padding: 0 25px;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  height: 75px;
}

/* LEFT HEADER SECTION */

header .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

header .header-title {
  color: white;

  font-size: 28px;
  font-weight: bold;
}

/* RIGHT HEADER SECTION */

header .right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;

  flex: 1;
  max-width: 550px;
  min-width: 25px;
}

header input {
  flex: 1;

  font-size: 18px;

  border-radius: 100px;

  max-width: 250px;
  min-width: 50px;
}

@media (max-width: 425px) {
  header {
    padding: 0 5px;
  }

  header .left {
    display: none;
  }

  header .right {
    gap: 5px;
  }
}
