header {
  /* Glassmorphism */
  backdrop-filter: blur(12px) saturate(160%);
  -webkit-backdrop-filter: blur(12px) saturate(160%);
  background-color: rgba(17, 25, 40, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  border-radius: 12px;

  padding: 0 25px;

  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;

  height: 75px;
}

/* LEFT HEADER SECTION */

header .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

header .header-title {
  color: white;

  font-size: 28px;
  font-weight: bold;
}

/* RIGHT HEADER SECTION */

header .right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;

  flex: 1;
  max-width: 550px;
  min-width: 25px;
}

header select {
  background-color: rgb(54, 62, 82);
  color: white;

  font-size: 18px;

  border-color: rgb(54, 62, 82);
  border-width: 5px 10px;
  border-radius: 100px;

  max-width: 250px;
  min-width: 50px;
}

header input {
  background-color: rgb(54, 62, 82);
  color: white;

  flex: 1;

  font-size: 18px;

  border-radius: 100px;

  max-width: 250px;
  min-width: 50px;
}

@media (max-width: 275px) {
  header {
    padding: 0 20px;
  }

  header .left {
    display: none;
  }

  header .right {
    justify-content: space-around;
  }

  header input {
    padding: 8px 12px;
    font-size: 14px;
    max-width: 140px;
  }

  header select {
    flex: 1;
  }

  .main-infos {
    padding: 30px 20px;
    gap: 25px;
  }

  .weather-icon {
    max-width: 100px;
  }
}
